:root {
    --white: #ffff;
    --dorange: #ff5000;
    --dblue: #000010;
    --bluex: #101015;
    --grayx: #303040;
    --active-navlink: #00ff48;


    --xprimary: #000010;
    --primary: #101015;
    --secondary: #303040;

    --accent: #505050;

    --heading: #ff5000;

    --text: rgb(183, 186, 204);


}